@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --background1: #F1F1F1;
    --background2: #FFFFFF;
    --text: #1D1D1D;
    --text2: #868686;
    --accent: #0017c7;
    --accent2: #EC1B50;
    --accent3: #FBAE17;
    --accent4: #FFD70D;
    --accent5: #49c7EF;
    --accent6: #70BE44;
    --hover: #B9BEE8;
    --hover2: #BFBFBF;
    --font: 'Lato', sans-serif;
}

.white {
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-weight: normal;
    transition: ease-in-out;
}

html,
body {
    height: 100%;
    width: 100%;
}

html {
    font-size: 18px;
    color: var(--text);
    font-family: var(--font);
}

@media screen and (max-width: 864px) {
    html {
        font-size: 16px;
    }
    h1 {
        font-size: 1.75rem;
    }
    h2 {
        font-size: 1.375rem;
    }
    h3 {
        font-size: 1.19rem;
    }
    h4 {
        font-size: 1.06rem;
    }
    h5 {
        font-size: 1rem;
    }
    p {
        font-size: 1rem;
    }
    .small-p {
        font-size: 0.875rem;
    }
    .quote {
        font-size: 1.19rem;
    }
    .btn-primary {
        font-size: 1.125rem;
    }
    .btn-secondary {
        font-size: 1.125rem;
    }
}

@media screen and (min-width: 865px) {
    html {
        font-size: 18px;
    }
    h1 {
        font-size: 2.77rem;
    }
    h2 {
        font-size: 2.22rem;
    }
    h3 {
        font-size: 1.55rem;
    }
    h4 {
        font-size: 1.66rem;
    }
    h5 {
        font-size: 1.33rem;
    }
    p {
        font-size: 1rem;
    }
    .small-p {
        font-size: 0.88rem;
    }
    .quote {
        font-size: 1.67rem;
    }
    .btn-primary {
        font-size: 1.22rem;
    }
    .btn-secondary {
        font-size: 1.22rem;
    }
}


/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font);
}

h1 {
    line-height: 1.4;
    margin-bottom: 1rem;
    font-weight: bold;
    color: var(--text);
}

h2 {
    font-weight: bold;
    color: var(--text);
}

h3 {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--accent);
}

h4 {
    font-weight: bold;
    color: var(--text);
}

h5 {
    font-weight: bold;
    color: var(--text);
}

p {
    font-weight: normal;
    color: var(--text);
}

.small-p {
    color: var(--text);
}

.quote {
    font-weight: lighter;
    color: var(--text);
}


/*Header banner*/

.header-banner {
    background-image: url(./images/hero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30rem;
    display: grid;
    align-content: end;
}

.blue-band {
    background-color: rgba(16, 23, 199, 0.7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
}

.blue-band h1 {
    margin: 0;
}


/* Buttons */

.btn-primary {
    font-weight: bold;
    color: white;
    font-family: var(--font);
    text-transform: uppercase;
    background-color: var(--accent);
    padding: 0.8333rem 1.111rem;
    border: solid 1px #0017c7;
    border-radius: 5px;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus {
    background-color: var(--hover);
    color: var(--text);
    box-shadow: none;
    border: solid 1px var(--hover);
}

.btn-secondary {
    font-weight: bold;
    color: var(--accent);
    font-family: var(--font);
    text-transform: uppercase;
    background-color: white;
    padding: 0.8333rem 1.111rem;
    border-radius: 5px;
    border: solid 2px #0017c7;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary:active:focus {
    color: var(--text);
    border: solid 2px #0017c7;
    background-color: var(--hover);
    box-shadow: none;
}


/* links */

a {
    text-decoration: underline;
    color: var(--accent);
}

a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: var(--accent);
}


/* Spacers */

.spacer0 {
    height: 1rem;
}

.spacer {
    height: 2rem;
}

.spacer1 {
    height: 5rem;
}


/* Icons */

i {
    color: var(--accent);
    width: 2rem;
}

.secondary i {
    color: var(--text);
}

i:hover,
i:focus,
i:active,
i:active:focus {
    color: var(--hover);
}

.secondary i:hover,
i:focus,
i:active,
i:active:focus {
    color: var(--hover2);
}

.input-group i {
    color: white;
}


/* Containers */

.full-width {
    width: 100%;
}

.large-width {
    max-width: 1640px;
}

.medium-width {
    max-width: 1200px;
}

.small-width {
    max-width: 1024px;
}

.x-small-width {
    max-width: 600px;
}

.centered-padded {
    margin: 0 auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.centered {
    text-align: center;
}


/* color swatches */

.color {
    border-radius: 5px;
    height: 5rem;
    padding: 1rem;
}

.color1 {
    background-color: var(--background1);
}

.color2 {
    background-color: var(--background2);
    border: solid var(--text) 0.1rem;
}

.color3 {
    background-color: var(--text);
}

.color4 {
    background-color: var(--text2);
}

.color5 {
    background-color: var(--accent);
}

.color6 {
    background-color: var(--hover);
}

.color7 {
    background-color: var(--accent2);
}

.color8 {
    background-color: var(--accent3);
}

.color9 {
    background-color: var(--accent4);
}

.color10 {
    background-color: var(--accent5);
}

.color11 {
    background-color: var(--accent6);
}

.color12 {
    background-color: var(--hover2);
}


/* Cards */

@media screen and (max-width: 575px) {
    .popular-links .card-img-top {
        object-fit: cover;
        height: 10rem;
    }
}

.listed-items .card-img {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.card {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16), 0 3px 10px rgba(0, 0, 0, 0.16);
}

.card:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.16), 0 6px 30px rgba(0, 0, 0, 0.16);
}

.card .small-p {
    color: var(--text2);
    padding: 0;
}

.card a {
    padding: 0;
    margin: 0;
}

.card p {
    padding: 0;
    margin: 0;
}


/* imagery images */

@media screen and (max-width: 568px) {
    .imagery img {
        width: 100%;
    }
}

@media screen and (min-width: 569px) {
    .imagery img {
        width: 386px;
        object-position: center;
        object-fit: cover;
    }
}


/* transparent blue banner */

.blue {
    background-color: rgba(0, 23, 199, 0.7);
    height: 12rem;
}


/* Search */

input:focus::placeholder {
    color: transparent;
}

.form-control::placeholder {
    font-style: italic;
}

.search .btn-primary {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.search:hover {
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.16), 0 6px 30px rgba(0, 0, 0, 0.16);
}


/* lists */

ul {
    padding: 0;
    list-style-type: none;
}


/*Footer*/

.footer {
    background-color: var(--accent);
    height: 50px;
    width: 100%;
}